<form [formGroup]="passwordFormGroup">
  <label>Jelszó*:</label>
  <input class="form-control rounded-pill" formControlName="password"
         type="password">
  <div *ngIf="passwordFormGroup.get('password').invalid && passwordFormGroup.get('password').touched">
    <small *ngIf="passwordFormGroup.get('password').errors?.required"
           class="text-danger-custom">
      A mező kitöltése közelező!
    </small>
    <small *ngIf="passwordFormGroup.get('password').errors?.pattern"
           class="text-danger-custom">
      A jelszónak legalább 6, legfeljebb 15 karakterből kell állnia! Tartalmaznia kell legalább egy betűt és egy
      számot!
    </small>
  </div>
</form>
