<label>Jelszó*:</label>
<input (focusout)="emitPassword()" [formControl]="password" class="form-control rounded-pill"
       type="password">
<div *ngIf="password.invalid && password.touched">
  <small *ngIf="password.errors?.required"
         class="text-danger-custom">
    A mező kitöltése közelező!
  </small>
  <small *ngIf="password.errors?.pattern"
         class="text-danger-custom">
    A jelszónak legalább 6, legfeljebb 15 karakterből kell állnia! Tartalmaznia kell legalább egy betűt és egy
    számot!
  </small>
</div>
