<div class="tomato-background-div text-center">
  <h4>Új jelszó igénylése</h4>
  <div
    class="white-block-on-tomato-div text-left p-sm-1 p-md-2 p-lg-3 col-sm-12 col-md-8 offset-2 col-lg-4 offset-lg-4">
    <form [formGroup]="emailFormGroup">
      <div class="form-group">
        <label class="font-weight-bold">Kérjük add meg az email címed amivel regisztráltál:</label>
        <app-email [emailFormGroup]="emailFormGroup"></app-email>
      </div>

      <button (click)="submit()" [disabled]="emailFormGroup.invalid" class="btn submit btn-primary rounded-pill">
        Küldés
      </button>

    </form>
  </div>
</div>
