#filter-div input, select {
  box-shadow: #b34532 0.2rem 0.2rem !important;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .tomato-background-div {
    width: 100vw;
  }
}

.my-pagination /deep/ .ngx-pagination .current {
  background: rgb(255, 72, 0);
  border-radius: 2rem;
}

.my-pagination /deep/ .ngx-pagination .current span {
  color: white;
}

.my-pagination /deep/ .ngx-pagination li {
  color: rgb(255, 72, 0);
}
