<form [formGroup]="emailFormGroup">
  <label for="email">Email cím*:</label>
  <input
    [value]="institutionModel?.email"
    class="form-control rounded-pill"
    formControlName="email"
    id="email"
    type="text">
  <div *ngIf="emailFormGroup.get('email')?.errors?.pattern">
    <small class="text-danger-custom">
      Érvénytelen email cím!
    </small>
  </div>
  <small *ngIf="emailFormGroup.get('email').errors?.serverError" class="text-danger-custom">
    Ez az email cím már foglalt!
  </small>
</form>
