<section class="mt-5">
  <div class="row align-items-left justify-content-center">
    <h1>Adatok módosítása</h1>
  </div>

  <div class="container p-3 m-4">
    <form (ngSubmit)="saveChanges()" [formGroup]="providerAccountForm">

      <div class="form-group">
        <label for="name">Teljes név:</label>
        <input class="form-control" formControlName="name" id="name" name="name" type="text">
        <small *ngIf="providerAccountForm.get('name').invalid &&
                    providerAccountForm.get('name').touched"
               class="text-danger">
          A mező kitöltése kötelező!
        </small>
      </div>

      <div class="form-group">
        <label for="providerServiceName">Szolgáltatás neve:</label>
        <input class="form-control" formControlName="providerServiceName" id="providerServiceName"
               name="providerServiceName" type="text">
        <small *ngIf="providerAccountForm.get('providerServiceName').invalid &&
                    providerAccountForm.get('providerServiceName').touched"
               class="text-danger">
          A mező kitöltése kötelező
        </small>
      </div>

      <div class="form-group">
        <label for="password">Jelszó:</label>
        <input class="form-control" formControlName="password" id="password" name="password" type="password">
        <small *ngIf="providerAccountForm.get('password').invalid &&
                    providerAccountForm.get('password').touched"
               class="text-danger">
          A mező kitöltése kötelező
        </small>
      </div>

      <div class="form-group">
        <label for="phone">Telefonszám:</label>
        <input class="form-control" formControlName="phone" id="phone" name="phone" type="text">
        <small *ngIf="providerAccountForm.get('phone').invalid &&
                    providerAccountForm.get('phone').touched"
               class="text-danger">
          A mező kitöltése kötelező
        </small>
      </div>

      <div class="form-group">
        <label for="zipcode">Irányítószám:</label>
        <input class="form-control" formControlName="zipcode" id="zipcode" name="zipcode" type="text">
        <small *ngIf="providerAccountForm.get('zipcode').invalid &&
                    providerAccountForm.get('zipcode').touched"
               class="text-danger">
          A mező kitöltése kötelező
        </small>
      </div>

      <div class="form-group">
        <label for="city">Város:</label>
        <input class="form-control" formControlName="city" id="city" name="city" type="text">
        <small *ngIf="providerAccountForm.get('city').invalid &&
                    providerAccountForm.get('city').touched"
               class="text-danger">
          A mező kitöltése kötelező
        </small>
      </div>

      <div class="form-group">
        <label for="address">Cím:</label>
        <input class="form-control" formControlName="address" id="address" name="address" type="text">
        <small *ngIf="providerAccountForm.get('address').invalid &&
                    providerAccountForm.get('address').touched"
               class="text-danger">
          A mező kitöltése kötelező
        </small>
      </div>

      <div class="container p-3 m-4">
        <ng-template viewMode></ng-template>
      </div>

      <button [disabled]="providerAccountForm.invalid" class="btn btn-info rounded-pill">Mentés</button>
      <button (click)="goBack()" class="btn btn-info rounded-pill">Vissza</button>

    </form>
  </div>
</section>
