.message-div label {
  color: rgb(32, 167, 209);
}

.message-send-div input {
  border: none !important;
}

.message-send-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.all-message-div {
  overflow-y: scroll;
  max-height: 25vh;
  -ms-overflow-style: none;
}

.all-message-div::-webkit-scrollbar {
  display: none;
}

.message-to-me-align {
  text-align: left;
}

.message-from-me-align {
  text-align: right;
}

.message-to-me-div {
  border-top-left-radius: 0;
}

.message-from-me-div {
  border-top-right-radius: 0;
}

.date-label {
  font-size: xx-small;
}

.send-icon {
  color: white;
}

.jump-to-present-div {
  background-color: white;
  opacity: 0.8;
  position: absolute;
  top: 5vh;
  z-index: 1;
}


.jump-to-present-div:hover {
  opacity: 1;
  box-shadow: #3789b3 0.1rem 0.1rem 0.5rem;
}

.jump-to-present-div label {
  color: rgb(32, 167, 209);
}
