input[type=time]::-webkit-clear-button {
  display: none;
}

input[type=time]::-webkit-inner-spin-button {
  display: none;
}

#openingTime {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

#closingTime {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

