<form [formGroup]="openingHours">
  <div class="row mx-0">
    <div class="form-group col-sm-12 col-md-12 col-lg-6">
      <select class="form-control rounded-pill"
              formControlName="weekDay"
              id="weekDay"
              name="weekDay">
        <option *ngFor="let day of weekDays" value="{{day}}">{{day}}</option>
      </select>
    </div>

    <div class="form-group col-sm-12 col-md-6 col-lg-3">
      <input class="form-control rounded-pill "
             formControlName="openingTime"
             id="openingTime"
             name="openingTime"
             type="Time">
    </div>

    <div class="form-group col-sm-12 col-md-6 col-lg-3">
      <input class="form-control rounded-pill"
             formControlName="closingTime"
             id="closingTime"
             name="closingTime"
             type="Time">
    </div>
  </div>
</form>


