<table class="table-striped">
  <thead>
  <tr>
    <th>Intézmény név</th>
    <th colspan="3">Elérhetőségek</th>
    <th>Cím</th>
    <th>Leírás</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let institution of evaluationList">
    <td>{{institution.name}}</td>
    <td>{{institution.website}}</td>
    <td>{{institution.phone}}</td>
    <td>{{institution.email}}</td>
    <td>{{institution.zipcode}}-{{institution.city}}-{{institution.address}}</td>
    <td>{{institution.description}}</td>
    <button (click)="accept(institution.id)" class="btn btn-success rounded-circle">Elfogad</button>
    <button (click)="reject(institution.id)" class="btn btn-danger rounded-circle">Elutasít</button>
  </tr>
  </tbody>
</table>
