.text-dark {
  border-radius: 2rem;
}

.edit-button-blue svg {
  color: white;
}

.edit-button-white svg {
  color: cornflowerblue;
}

.edit-button-white {
  background-color: white !important;
}

.button-flex {
  display: flex;
  justify-content: flex-end;
}

