<div class="tomato-background-div text-center">
  <h4>Profil</h4>
  <div *ngIf="loggedInUser"
       class="white-block-on-tomato-div col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 text-left py-3">

    <button (click)='editMode=true' *ngIf="!editMode"
            class="edit-button-white rounded-circle btn-primary submit p-2 float-right">
      <i class="fas fa-pencil-alt"></i></button>

    <button (click)='cancelEdit()' *ngIf="editMode"
            class="edit-button-blue rounded-circle btn-primary submit p-2 float-right">
      <i aria-hidden="true" class="fas fa-undo-alt"></i>
    </button>

    <div class="row mx-0">
      <div class="profile-div col-sm-12 col-md-6">

        <label>Teljes név:</label>
        <div *ngIf='!editMode && isProvider' class="col-sm-9">
          <p> {{providerAccount?.name}} </p>
        </div>
        <div *ngIf='!editMode && !isProvider' class="col-sm-9">
          <p> {{indUser?.name}} </p>
        </div>
        <div class="form-group  col-sm-12 col-md-7">
          <input
            *ngIf='editMode && isProvider' [formControl]="username" name="username"
            [(ngModel)]='providerAccount.name' class='text-dark form-control' type='text'>
          <input
            *ngIf='editMode && !isProvider' [(ngModel)]='indUser.name' [formControl]="username"
            class='text-dark form-control' name="username" type='text'>
          <small *ngIf="username?.errors?.required && editMode"
                 class="text-danger col-sm-12 col-md-12">
            Helytelen név!
          </small>
          <small *ngIf="!providerAccount?.name && isProvider"
                 class="text-danger col-sm-12 col-md-12">
            A mező kitöltése közelező!
          </small>
          <small *ngIf="!indUser?.name && !isProvider"
                 class="text-danger col-sm-12 col-md-12">
            A mező kitöltése közelező!
          </small>
        </div>
        <br>

        <label *ngIf="isProvider">Szolgáltatás neve:</label>
        <div *ngIf='!editMode && isProvider' class="col-sm-9">
          <p> {{providerAccount?.providerServiceName}} </p>
        </div>
        <div class="form-group col-sm-12 col-md-7">
          <input
            *ngIf='editMode && isProvider' [formControl]="providerServiceName" name="providerServiceName"
            [(ngModel)]='providerAccount.providerServiceName' class='text-dark form-control' type='text'>
          <small *ngIf="providerServiceName.errors?.required && editMode && isProvider"
                 class="text-danger col-sm-12 col-md-12">
            Érvénytelen szolgáltatás név!
          </small>
          <small *ngIf="!providerAccount?.providerServiceName && isProvider"
                 class="text-danger col-sm-12 col-md-12">
            A mező kitöltése közelező!
          </small>
        </div>
        <br>

        <label>Email cím:</label>
        <div class="col-sm-9">
          <p *ngIf="isProvider">{{providerAccount?.email}}</p>
          <p *ngIf="!isProvider">{{indUser?.email}}</p>
        </div>
        <br>

        <label>Telefon:</label>
        <div *ngIf='!editMode' class="col-sm-9">
          <p *ngIf="isProvider"> {{providerAccount?.phone}} </p>
          <p *ngIf="!isProvider"> {{indUser?.phone}} </p>
        </div>
        <div class="form-group  col-sm-12 col-md-7">
          <input
            *ngIf='editMode && isProvider' [formControl]="phone" name="phone"
            [(ngModel)]='providerAccount.phone' class='text-dark form-control' type='text'>
          <input
            *ngIf='editMode && !isProvider' [(ngModel)]='indUser.phone' [formControl]="phone"
            class='text-dark form-control' name="phone" type='text'>
          <small *ngIf="phone.errors?.pattern && editMode"
                 class="text-danger col-sm-12 col-md-12">
            Érvénytelen telefonszám!
          </small>
        </div>
        <br>

        <label>Cím:</label>
        <div *ngIf='!editMode' class="row mx-0">
          <div class="col-sm-4">
            <p *ngIf="isProvider"> {{providerAccount?.zipcode}} </p>
            <p *ngIf="!isProvider"> {{indUser?.zipcode}} </p>
          </div>
          <div class="col-sm-8">
            <p *ngIf="isProvider">{{providerAccount?.city}}</p>
            <p *ngIf="!isProvider">{{indUser?.city}}</p>
          </div>
          <div class="col-sm-12">
            <p *ngIf="isProvider">{{providerAccount?.address}}</p>
            <p *ngIf="!isProvider">{{indUser?.address}}</p>
          </div>
        </div>

        <div class="row m-0">
          <div class="form-group col-sm-4">
            <input
              *ngIf='editMode && isProvider'
              [(ngModel)]='providerAccount.zipcode' class='text-dark form-control' type='text'>
            <input
              *ngIf='editMode && !isProvider'
              [(ngModel)]='indUser.zipcode' class='text-dark form-control' type='text'>
          </div>
          <div class="form-group col-sm-8">
            <input
              *ngIf='editMode && isProvider'
              [(ngModel)]='providerAccount.city' class='text-dark form-control' type='text'>
            <input
              *ngIf='editMode && !isProvider'
              [(ngModel)]='indUser.city' class='text-dark form-control' type='text'>
          </div>
          <div class="form-group col-sm-12">
            <input
              *ngIf='editMode && isProvider'
              [(ngModel)]='providerAccount.address' class='text-dark form-control' type='text'>
            <input
              *ngIf='editMode && !isProvider'
              [(ngModel)]='indUser.address' class='text-dark form-control' type='text'>
          </div>
        </div>

        <label *ngIf="isProvider">Szolgáltatás típusai:</label>
        <div *ngIf="!editMode && isProvider" class="col-sm-9">
          <ul class="col-sm-9">
            <p *ngFor="let type of providerAccount?.types">
              {{type}}
            </p>
          </ul>
        </div>
        <div *ngIf="editMode && isProvider" class="form-group col-sm-12">
          <small class="row mx-0">Több szolgáltatás kiválasztásához tartsa lenyomva a Ctrl billentyűt.</small>
          <select [(ngModel)]="providerAccount.types"
                  class="form-control mdb-select md-form select-tomato"
                  id="types"
                  multiple
                  name="types">
            <option *ngFor="let type of allTypes" [ngValue]="type.displayName">{{type.displayName}}</option>
          </select>
        </div>
        <br>

        <label *ngIf="isProvider">Korcsoport:</label>
        <div *ngIf="isProvider" class="col-sm-9">
          <p *ngIf="!editMode">{{providerAccount?.ageGroupMin}} - {{providerAccount?.ageGroupMax}}</p>
          <p *ngIf="editMode">{{accountCopy?.ageGroupMin}} - {{accountCopy.ageGroupMax}}</p>
        </div>

        <div *ngIf="isProvider" class="form-group row mx-0">
          <div *ngIf='editMode' class="col-sm-6 col-md-5">
            <label>Minimum életkor:</label>
            <input
              [(ngModel)]='providerAccount.ageGroupMin' class='text-dark form-control' type='number'>
            <small *ngIf="editMode && providerAccount.ageGroupMin < 0"
                   class="text-danger col-sm-12 col-md-12">
              Helytelen életkor!
            </small>
          </div>
          <div *ngIf='editMode' class=" col-sm-6 col-md-5">
            <label>Maximum életkor:</label>
            <input
              [(ngModel)]='providerAccount.ageGroupMax' class='text-dark form-control' type='number'>
            <small *ngIf="editMode && providerAccount.ageGroupMax < 0"
                   class="text-danger col-sm-12 col-md-12">
              Helytelen életkor!
            </small>
          </div>
        </div>

        <div *ngIf="editMode && isProvider" class="form-group">
          <input [checked]="providerAccount?.newsletter" class="form-check-input px-0 ml-0 "
                 [(ngModel)]="providerAccount.newsletter"
                 id="newsletter"
                 type="checkbox">
          <label class="ml-3" for="newsletter">Hírlevél</label>
        </div>
      </div>

      <div class="col-sm-12 col-md-6" style="padding: 30px 0">
        <label *ngIf="isProvider">Intézmények:</label>
        <div *ngIf="isProvider">
          <div *ngFor="let institution of providerAccount?.institutionList"
               class="blue-block-on-white-div col my-3">
            <div class="col-sm-12 custom-card-header pt-2">
              <label class="text-uppercase mb-0">
                {{institution?.name}}
              </label>
            </div>
            <div class="decor-div-white"></div>
            <div *ngIf="institution.zipcode" class="row mx-sm-0 mt-sm-2 col-sm-12">
              <i class="icon-white fas fa-map-marker-alt"></i><label
              class="mx-sm-2">{{institution.zipcode}} {{institution.city}} {{institution.address}}</label>
            </div>
            <div class="card-body py-2">
              <label class="small text-justify">
                {{institution?.description}}<br>
              </label>
              <div class="row mx-0 mt-3 mb-0">
                <i class="fas fa-at icon-white"></i><label class="mx-sm-2 small">{{institution.email}}</label>
              </div>

              <div class="row mx-0 my-0">
                <i class="fas fa-lg fa-mobile-alt icon-white"></i><label
                class="mx-sm-2 small">{{institution.phone}}</label>
              </div>

              <div class="row mx-0 my-0">
                <i *ngIf="institution.website" class="fas fa-globe-europe icon-white"></i>
                <a [href]="'http://' + institution.website" class="mx-sm-2 small custom-link custom-link-white"
                   target="_blank">{{institution.website}}</a>
              </div>

              <div class="button-flex">
                <button (click)="deleteInstitution(institution.id)" *ngIf="editMode"
                        class="btn btn-sm rounded-pill delete-button">Törlés
                </button>
              </div>
            </div>
          </div>

          <div *ngIf="editMode" class="decor-div-blue mt-5"></div>
          <div class="row mx-0 my-3">
            <button (click)="addInstitutionMode=true" *ngIf="editMode"
                    class="btn btn-primary submit rounded-pill">
              További intézmények hozzáadása
            </button>
          </div>
          <div *ngIf="addInstitutionMode">
            <select (change)="fillFields(selectedIndex)" [(ngModel)]="selectedIndex"
                    class="form-control rounded-pill"
                    id="institution-type"
                    name="institution-type">
              <option selected value="-1">----------</option>
              <option *ngFor="let institution of institutionList; let i = index"
                      value="{{i}}">{{institution.name}}</option>
            </select>

            <div *ngIf="selectedInstitution" class="blue-block-on-white-div my-3">
              <div class="col-sm-12 custom-card-header pt-2">
                <label class="text-uppercase mb-0">
                  {{selectedInstitution?.name}}
                </label>
              </div>
              <div class="decor-div-white"></div>
              <div *ngIf="selectedInstitution?.zipcode" class="row mx-sm-0 mt-sm-2 col-sm-12">
                <i class="icon-white fas fa-map-marker-alt"></i><label
                class="mx-sm-2">{{selectedInstitution?.zipcode}} {{selectedInstitution?.city}} {{selectedInstitution?.address}}</label>
              </div>
              <div class="card-body py-2">
                <label class="small text-justify">
                  {{selectedInstitution?.description}}<br>
                </label>
                <div class="row mx-0 mt-3 mb-0">
                  <i class="fas fa-at icon-white"></i><label
                  class="mx-sm-2 small">{{selectedInstitution?.email}}</label>
                </div>

                <div class="row mx-0 my-0">
                  <i class="fas fa-lg fa-mobile-alt icon-white"></i><label
                  class="mx-sm-2 small">{{selectedInstitution?.phone}}</label>
                </div>

                <div *ngIf="selectedInstitution?.website" class="row mx-0 my-0">
                  <i class="fas fa-globe-europe icon-white"></i>
                  <a [href]="'http://' + selectedInstitution?.website"
                     class="mx-sm-2 small custom-link custom-link-white"
                     target="_blank">{{selectedInstitution?.website}}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mx-0 mt-3">
        <button (click)="saveChanges()" *ngIf="editMode && isProvider"
                [disabled]="username.invalid || providerServiceName.invalid || phone.invalid || providerAccount.ageGroupMin < 0 ||providerAccount.ageGroupMax > 99"
                class="submit btn btn-info rounded-pill"
                type="submit">
          Mentés
        </button>

        <button (click)="saveChanges()" *ngIf="editMode && !isProvider"
                [disabled]="username.invalid ||phone.invalid"
                class="submit btn btn-info rounded-pill"
                type="submit">
          Mentés
        </button>

        <button (click)="changePassword()" class="mx-2 edit-button rounded-pill btn btn-primary submit">
          Jelszó módosítása
        </button>

        <div *ngIf="editMode" class="delete-profile-div-container">
          <button (click)="confirmDeletion()" class="delete-button btn rounded-pill" type="button">Fiók
            törlése
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
