<div class="tomato-background-div text-center">
  <h4>Adatvédelmi Nyilatkozat</h4>
  <div class="white-block-on-tomato-div col-sm-12">
    <pre>
      A. Bevezetés

Nagyon fontos számunkra a weboldalunk látogatói személyes adatainak védelme, és elkötelezettek vagyunk ennek megfelelő biztosítása mellett. Ez az adatvédelmi nyilatkozat tájékoztatást nyújt arról, hogy hogyan kezeljük az Ön személyes adatait.
Ha hozzájárul a sütik használatához a jelen adatvédelmi nyilatkozat feltételeinek megfelelően, amikor először látogatja meg weboldalunkat, azzal engedélyezi számunkra a sütik használatát minden egyes alkalommal, amikor Ön meglátogatja weboldalunkat.
B. Forrás
Ez a dokumentum a SEQ Legal (seqlegal.com) sablonján alapszik, amelyet a Website Planet módosított (www.websiteplanet.com)

C. A személyes adatok gyűjtése

A következő típusú személyes adatokat gyűjthetjük, tárolhatjuk és felhasználhatjuk:

a számítógépével kapcsolatos információkat, beleértve az Ön IP-címét, a földrajzi tartózkodási helyét, a böngészője típusát és verzióját, valamint az operációs rendszerét;
információkat a weboldalunk meglátogatásáról és annak használatáról, ideértve a küldő hivatkozás adatait, a látogatás hosszát, az oldalmegtekintéseket és a weboldalon a navigáció adatait;
a weboldalunkon a regisztrációkor megadott információkat, például az e-mail címét;
a weboldalunkon a profil létrehozásakor megadott információkat — például: a neve, profilképe, neme, születésnapja, kapcsolata állapota, érdeklődési körei és hobbijai, oktatási és foglalkoztatási adatai;
a weboldalunkon az e-mailes levelezőlistára és/vagy hírleveleinkre feliratkozáskor megadott információkat, például: a neve, e-mail címe;
a weboldalunkon a szolgáltatásaink igénybevételekor megadott információkat;
a weboldalunk használata közben keletkező információkat, többek között, hogy mikor, milyen gyakran és milyen körülmények között használja weboldalunkat;
az Ön által vásárolt szolgáltatásokkal, az Ön által használt szolgáltatásokkal vagy a weboldalunkon keresztül végzett tranzakciókkal kapcsolatos információkat, többek között: a neve, címe, telefonszáma, e-mail címe és a bankkártyája adatai;
az interneten való közzététel céljából a weboldalunk számára elküldött információkat, többek között: a felhasználóneve, a profilképei és az üzenetei tartalma;
az e-mailben vagy a weboldalunkon keresztül az Ön által elküldött információkat, beleértve azok tartalmát és metaadatait;
minden egyéb személyes információt, amelyet elküldött számunkra.
Mielőtt valamely másik személy személyes adatait feltárná előttünk, Önnek kötelező az adott személy hozzájárulásával rendelkeznie a személyes adatok megosztását valamint a személyes adatoknak a jelen adatvédelmi nyilatkozat előírásaival összhangban történő feldolgozását illetően.

D. Az Ön személyes adatainak felhasználása

A weboldalunkon keresztül számunkra elküldött személyes adatokat a jelen adatvédelmi nyilatkozatban vagy a weboldal vonatkozó oldalain meghatározott célokra használjuk fel. Az Ön személyes adatait a következő célokra használhatjuk fel:

a weboldalunk és a vállalkozásunk adminisztrálása;
a weboldalunk testreszabása az Ön számára;
a weboldalunkon található szolgáltatások elérhetővé tétele az Ön számára
a weboldalunkon keresztül megvásárolt áruk postázása az Ön részére;
a weboldalunkon keresztül megvásárolt szolgáltatások nyújtása az Ön részére;
számlák és fizetési emlékeztetők küldése, és Öntől a befizetések begyűjtése;
nem marketing célú kereskedelmi kommunikáció küldése az Ön részére;
olyan e-mail értesítések küldése Önnek, amelyeket Ön kifejezetten kért;
e-mail hírlevelünk küldése Önnek, ha azt igényelte (bármikor értesíthet minket, ha már nem kéri a hírlevelet);
üzleti vállalkozásunkkal vagy vállalkozásainkkal illetve gondosan kiválasztott harmadik felek vállalkozásaival kapcsolatos marketingkommunikációk küldése az Ön részére, postai úton vagy – ha ehhez Ön kifejezetten hozzájárult – e-mailben vagy hasonló technológia alkalmazásával (bármikor értesíthet minket, ha már nem kéri a hírlevelet);
harmadik felek számára statisztikai információk szolgáltatása felhasználóinkról (azonban ezek a harmadik felek nem azonosíthatnak egyetlen felhasználót sem ezen információk alapján);
a weboldalunkkal kapcsolatos, az Ön által vagy az Önről tett tudakozódások és panaszok kezelése;
a weboldalunk biztonságának megőrzése és a csalások megelőzése;
a weboldalunk használatát szabályozó feltételek betartásának ellenőrzése (ideértve a weboldal privát üzenetküldő szolgáltatásán keresztül küldött privát üzenetek nyomon követését is); valamint
egyéb felhasználások.
Ha Ön személyes információkat küld nekünk a weboldalunkon való közzététel céljából, ezeket az információkat mi közzétesszük és egyéb módon felhasználjuk az Ön által nekünk megadott engedély alapján.

Az Ön adatvédelmi beállításai korlátozhatják az adataira vonatkozóan a közzétételt a weboldalunkon, ezek a beállítások pedig módosíthatók a weboldalon az adatvédelmi beállítási lehetőségek használatával.

Az Ön kifejezett hozzájárulása nélkül nem adjuk át az Ön személyes adatait harmadik feleknek ezen harmadik felek vagy más harmadik felek által folytatott közvetlen marketing céljából.

E. A személyes adatok közzététele

A személyes adatait bármilyen alkalmazottunkkal, tisztségviselőnkkel, biztosító társasággal, szakmai tanácsadókkal, ügynökökkel, beszállítókkal vagy alvállalkozókkal közölhetjük, amennyiben ez ésszerű és szükséges a jelen adatvédelmi nyilatkozatban meghatározott célok biztosításához.

A személyes adatait közölhetjük a cégcsoportunk bármelyik tagjával (azaz leányvállalatainkkal, a holdingtársaságunkkal és annak minden leányvállalataival), amennyiben ez ésszerű és szükséges a jelen adatvédelmi nyilatkozatban meghatározott célok biztosításához.

A személyes adatait közzétehetjük:

olyan mértékben, amennyire a törvény ezt megköveteli;
a folyamatban lévő vagy jövőbeni bírósági eljárásokkal kapcsolatban;
a törvényes jogaink megállapítása, gyakorlása vagy védelme érdekében (többek között: a csalások megelőzése és a hitelkockázat csökkentése céljából történő információszolgáltatás mások számára);
az általunk eladott (vagy a jövőben eladott) minden vállalkozás vagy vagyontárgy vevője számára; és
bármely olyan személy számára, akinek az esetében ésszerűen feltételezhetjük, hogy bírósághoz vagy más illetékes hatósághoz fordulhat a személyes információ közzététele érdekében, amennyiben ésszerű véleményünk szerint az ilyen bíróság vagy hatóság valószínűleg elrendelné az említett személyes információ közzétételét.
A jelen adatvédelmi nyilatkozatban foglalt esetek kivételével az Ön személyes adatait nem adjuk át harmadik feleknek.

F. Nemzetközi adattovábbítás

Az általunk összegyűjtött információkat tárolhatjuk, feldolgozhatjuk és továbbíthatjuk bármely olyan országok között, ahol üzleti tevékenységet folytatunk, annak érdekében, hogy az információkat ezen adatvédelmi nyilatkozatnak megfelelően felhasználhassuk.
Az általunk összegyűjtött információkat továbbadhatjuk a következő országoknak, amelyek nem rendelkeznek az Európai Gazdasági Térségben hatályos adatvédelmi törvényekkel egyenértékű törvényekkel: Amerikai Egyesült Államok, Oroszország, Japán, Kína és India.
Az Ön által a weboldalunkon közzétett vagy a weboldalunkon közzétételre az Ön által benyújtott személyes adatok az interneten keresztül elérhetők lehetnek az egész világon. Nem akadályozhatjuk meg az ilyen információk mások általi felhasználását vagy az ilyen információkkal történő visszaélést mások által.
Ön kifejezetten hozzájárul a személyes adatainak továbbításához a jelen F. szakaszban leírtak szerint.
G. A személyes adatok megőrzése

A jelen G. szakasz tájékoztat az adatmegőrzési irányelveinkről és eljárásainkról, amelyek célja annak biztosítása, hogy a személyes adatok megőrzésére és törlésére vonatkozó jogi kötelezettségeinknek megfelelően járjunk el.
A személyes adatokat, amelyeket bármilyen célból vagy célokból feldolgozunk, tilos annál hosszabb ideig megőrizni, mint amennyi ideig szükséges a tárolásuk ehhez a célhoz vagy célokhoz.
A G-2. cikkely sérelme nélkül, általában az alábbiakban meghatározott kategóriákba tartozó személyes adatokat töröljük az alábbiakban megadott dátumban/időpontban:
a személyes adattípus törlése ekkor történik meg: DÁTUM/IDŐPONT; valamint
      TOVÁBBI DÁTUMOK/IDŐPONTOK.
A G. szakasz egyéb rendelkezéseinek sérelme nélkül, a személyes adatokat tartalmazó dokumentumokat (beleértve az elektronikus dokumentumokat is) az alábbiaknak megfelelően megőrizzük:
olyan mértékben, amennyire a törvény ezt megköveteli;
amennyiben a dokumentumok relevánsak lehetnek bármilyen folyamatban lévő vagy jövőbeni bírósági eljárásban; és
törvényes jogaink megállapítása, gyakorlása vagy védelme érdekében (többek között: a csalások megelőzése és a hitelkockázat csökkentése céljából történő információszolgáltatás mások számára).
H. Az Ön személyes adatainak biztonsága

Megtesszük a megfelelő technikai és szervezeti óvintézkedéseket annak érdekében, hogy megakadályozzuk a személyes adatai elvesztését, a velük való visszaélést vagy a módosításukat.
Minden, az Ön által megadott személyes információt biztonságos (jelszóval és tűzfallal védett) szervereinken tároljuk.
A weboldalunkon keresztül lebonyolított összes elektronikus pénzügyi tranzakciót titkosítással védjük.
Ön tudomásul veszi, hogy az információ továbbítása az interneten keresztül alapvetően bizonytalan jellegű, és nem garantálhatjuk az interneten keresztül továbbított adatok biztonságát.
Ön felelős a weboldalunk eléréséhez használt jelszava bizalmas kezeléséért; nem kérjük el a jelszavát (kivéve, amikor bejelentkezik weboldalunkra).
I. Módosítások

Időnként frissíthetjük ezt az adatvédelmi nyilatkozatot azáltal, hogy közzétesszük az új verzióját a weboldalunkon. Időnként ellenőrizze ezt az oldalt annak érdekében, hogy megismerje az adatvédelmi nyilatkozat módosításait. Önt az adatvédelmi nyilatkozat változásairól e-mailben vagy a weboldalunkon található privát üzenetküldő rendszeren keresztül értesíthetjük.

J. Az Ön jogai

Felszólíthat minket arra, hogy bocsássunk rendelkezésére minden személyes információt, amely nálunk elérhető Önről; az ilyen információk szolgáltatása a következő feltételek mellett történik:

a szükséges díj befizetése (DÍJ ÖSSZEGE, HA RELEVÁNS); és
az Ön személyazonosságának a megfelelő módon történő igazolása (ÍRJA ÁT A SZÖVEGET A MEGFELELŐ MÓDON ebből a célból; általában elfogadjuk útlevelének fénymásolatát, amelyet közjegyző hitelesít, közüzemi számla olyan eredeti példányával együtt, amely tartalmazza az Ön jelenlegi lakcímét}).
A törvény által megengedett mértékben visszatarthatjuk az Ön által kért személyes információkat.

Bármikor felszólíthat bennünket arra, hogy marketing célból ne dolgozzuk fel személyes adatait.

A gyakorlatban Ön általában előzőleg kifejezetten egyetért azzal, hogy személyes adatait felhasználhatjuk marketing célokra, vagy pedig lehetőséget biztosítunk az Ön számára azt illetően, hogy visszautasíthassa a személyes adatai marketing célokra történő felhasználását.

K. Harmadik felek weboldalai

Weboldalunk hivatkozásokat és részleteket tartalmaz harmadik felek weboldalait illetően. Nem áll módunkban a harmadik felek adatvédelmi irányelveit és gyakorlatait ellenőrizni, valamint azokért nem vagyunk felelősek.

L. Az adatok frissítése

Kérjük, tudassa velünk, ha javítani vagy frissíteni kell az Önnel kapcsolatosan általunk tárolt személyes adatokat.

M. Sütik

Weboldalunk sütiket alkalmaz. A süti egy azonosítót (betűket és számokat) tartalmazó fájlnak felel meg, amelyet a webszerver küld a webböngészőnek, és amelyet a böngésző eltárol. Ezután megtörténik az azonosító visszaküldése a szerverhez minden alkalommal, amikor a böngésző lekér egy adott oldalt a szerverről.
Az általunk a weboldalunkon alkalmazott sütik nevét, valamint azok felhasználási céljait az alábbiakban ismertetjük:
a weboldalunkon a Google Analytics és az Adwords szoftverek segítségével a számítógép felismerése, amikor egy felhasználó ADJA HOZZÁ AZ ÖSSZES FELHASZNÁLÁSI CÉLT meglátogatja a weboldalt / a felhasználók nyomon követése
az Internet Explorer böngészőben (10. verziószám) letilthatja a sütiket a sütikezelés felülbírálását érintő beállításokban, ehhez kattintson a következőkre: „Eszközök”, „Internetbeállítások”, „Adatvédelem”, végül pedig a „Speciális” opcióra;
A Firefox böngészőben (24. verziószám) az összes süti letiltásához kattintson a következőkre: „Eszközök”, „Opciók”, „Adatvédelem”, ezután a legördülő menüből válassza az „Egyéni beállítások használata előzményekhez” opciót, és törölje a pipát a „Sütik elfogadása” opciónál; valamint
A Chrome böngészőben (29. verziószám) az összes süti letiltásához válassza a „Testreszabás és vezérlés” menüt, ezután kattintson a következőkre: „Beállítások”, „Speciális beállítások megjelenítése”, „Tartalombeállítások”, végül válassza ki a „Adatmentés tiltása a webhelyeken” opciót a „Cookie-k” résznél.
Ha letiltja az összes süti használatát, akkor sok weboldal használhatósága romlani fog. A weboldalunkon pedig egyes funkciók nem lesznek elérhetők az Ön számára.

Törölheti a számítógépén már tárolt sütiket is — például:
az Internet Explorer böngészőben (10. verziószám) manuálisan kell törölnie a süti-fájlokat (ehhez a http://support.microsoft.com/kb/278835 címen talál leírást);
A Firefox böngészőben (24. verziószám) a sütik törléséhez kattintson a következőkre: „Eszközök”, „Opciók”, „Adatvédelem”, ezután válassza az „Egyéni beállításokat használ az előzményekhez” opciót, majd kattintson a „Sütik megjelenítése” opcióra, végül az „Összes eltávolítása” elemre; valamint
A Chrome böngészőben (29. verziószám) az összes süti törléséhez válassza a „Testreszabás és vezérlés” menüt, ezután kattintson a következőkre: „Beállítások”, „Speciális beállítások megjelenítése”, „Böngészési adatok törlése”, utóbbinál pedig válassza az „Összes cookie és webhelyadat” lehetőséget, mielőtt a „ Böngészési adatok törlése” elemre kattint.
Ha törli a sütiket, akkor sok weboldal használhatósága romlani fog.
    </pre>
  </div>
</div>
