<div class="tomato-background-div text-center">
  <div class="col-sm-12 col-md-8 offset-md-2 col-lg-4 offset-lg-4 text-center">
    <h4>Jelszó módosítás</h4>
    <div class="white-block-on-tomato-div p-4  w-100 text-left">
      <form [formGroup]="passwordChangeForm">
        <div class="form-group">
          <label for="oldPassword">Régi jelszó:</label>
          <input class="form-control text-dark rounded-pill" formControlName="oldPassword" id="oldPassword"
                 type="password">
        </div>
        <div class="form-group">
          <label for="password">Új jelszó:</label>
          <input class="form-control rounded-pill" formControlName="password" id="password"
                 type="password">
        </div>
        <div *ngIf="passwordChangeForm.get('password').invalid && passwordChangeForm.get('password').touched">
          <small *ngIf="passwordChangeForm.get('password').errors?.pattern"
                 class="text-danger-custom">
            A jelszónak legalább 6, legfeljebb 15 karakterből kell állnia! Tartalmaznia kell legalább egy betűt és egy
            számot!
          </small>
          <small *ngIf="passwordChangeForm.get('password').errors?.required"
                 class="text-danger-custom">
            A mező kitöltése közelező!
          </small>
        </div>
        <div class="form-group">
          <label for="confirmPassword">Új jelszó:</label>
          <input class="form-control rounded-pill" formControlName="confirmPassword" id="confirmPassword"
                 type="password">
          <small
            *ngIf="passwordChangeForm.hasError('mismatchedPasswords') && passwordChangeForm.get('confirmPassword').touched"
            class="text-danger-custom">A két jelszó nem
            egyezik!</small>
        </div>
        <button (click)="changePassword()" [disabled]="passwordChangeForm.invalid"
                class="submit btn btn-primary rounded-pill"
                type="submit">
          Módosítás
        </button>
      </form>
    </div>
  </div>
</div>
