.chat-background-div {
  background-color: rgb(32, 167, 209);
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  box-shadow: #2e2e2e 0.5rem 0.5rem 2rem;
}

.msg-background-div {
  background-color: rgb(32, 167, 209);
  border-radius: 2rem;
  box-shadow: #2e2e2e 0.5rem 0.5rem 2rem;
  z-index: 1;
}


.msg-window {
  height: auto;
  max-height: 40vh;
}

.transparent-btn {
  background: none;
  border: none;
}

.window-close {
  color: white;
}

.chat-lg {
  height: auto;
  max-height: 90vh;
}

.chat-sm {
  height: 5vh;
}

.label-btn {
  cursor: pointer;
}

.circle-online {
  color: greenyellow;
}

.circle-offline {
  color: lightsteelblue;
}
