<div class="tomato-background-div">
  <div class="col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 text-center">
    <h4>Regisztráció</h4>

    <div>
      <button (click)="chooseNormalUser()" [ngClass]="isNormalUser ? 'active' : 'inactive'"
              class="user-option-chooser btn w-50 mb-0">Felhasználó
      </button>
      <button (click)="chooseProviderUser()" [ngClass]="!isNormalUser ? 'active' : 'inactive'"
              class="user-option-chooser btn w-50 mb-0">Szolgáltatás
      </button>
    </div>

    <div class="register-div text-left p-sm-3 p-md-3">
      <app-provider-user *ngIf="!isNormalUser"></app-provider-user>
      <app-normal-user *ngIf="isNormalUser"></app-normal-user>
    </div>
  </div>
</div>
