.register-div {
  border-right: 1px solid rgb(255, 72, 0);
  border-left: 1px solid rgb(255, 72, 0);
  border-bottom: 1px solid rgb(255, 72, 0);
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  font-size: small;
  background-color: white;
  box-shadow: #b34532 0.5rem 0.5rem 2rem;
}

.user-option-chooser {
  background-color: rgba(255, 72, 0, 0.9);
  color: white;
  border-radius: 50rem 50rem 0 0;
  appearance: none;
}

.user-option-chooser:hover {
  background-color: rgba(255, 72, 0, 1);
  color: white;
}

.user-option-chooser.active {
  outline: 0;
  box-shadow: none !important;
  background-color: white;
  color: rgb(255, 72, 0);
  border-right: 1px solid rgb(255, 72, 0);
  border-left: 1px solid rgb(255, 72, 0);
  border-top: 1px solid rgb(255, 72, 0);
}

.user-option-chooser:focus {
  outline: 0;
  box-shadow: none !important;
  background-color: white;
  color: rgb(255, 72, 0);
  border-right: 1px solid rgb(255, 72, 0);
  border-left: 1px solid rgb(255, 72, 0);
  border-top: 1px solid rgb(255, 72, 0);
}
