<ng-container>
  <agm-map *ngIf="showMap" [latitude]="latitude" [longitude]="longitude"
           [scrollwheel]="null"
           [zoom]="zoom"
           [styles]="styles"
           gestureHandling="cooperative">
    <agm-marker (markerClick)="markerClick(location)" *ngFor="let location of locations; let i = index"
                [iconUrl]="getIcon(location)" [latitude]="location.latitude" [longitude]="location.longitude"
    >
      <app-info-window
        [closeWhenOthersOpen]="true"
        [edgeOffset]="{
          top: 0,
          right: 0,
          bottom: 0,
          left: this.windowWidth*0.6}"
        [isOpen]="showInfoWindow"
        [placement]="'right'"
        backgroundColor="tomato"
        borderRadius="2rem"
        maxHeight="400"
        maxWidth="650"
      >


        <ng-template>
          <app-institution-details *ngIf="showInstitutionDetails" [institution]="institutionDetail"
                                   [isInInfoBox]="true"></app-institution-details>
          <app-provider-details *ngIf="showProviderDetail" [isInInfoBox]="true"
                                [providerUserDetail]="providerDetail"></app-provider-details>
        </ng-template>
      </app-info-window>

      <!--    <agm-info-window #infoWindow>-->
      <!--      <app-institution-details [institution]="institutionDetail"></app-institution-details>-->
      <!--    </agm-info-window>-->
    </agm-marker>
  </agm-map>
</ng-container>


