<ng-container>
  <agm-map *ngIf="showMap" [latitude]="latitude" [longitude]="longitude"
           [scrollwheel]="null"
           [zoom]="zoom"
           [styles]="styles"
           gestureHandling="cooperative">
    <agm-marker (markerClick)="markerClick(location)" *ngFor="let location of locations; let i = index"
                [iconUrl]="getIcon(location)" [latitude]="location.latitude" [longitude]="location.longitude"
    >

      <agm-snazzy-info-window #infoWindow
                              [closeWhenOthersOpen]="true"
                              [isOpen]="showInfoWindow"
                              [placement]="'right'"
                              backgroundColor="tomato"
                              borderRadius="2rem"
                              maxHeight=""
                              maxWidth="550"
      >


        <ng-template>
          <app-institution-details *ngIf="showInstitutionDetails" [institution]="institutionDetail"
                                   [isInInfoBox]="true"></app-institution-details>
          <app-provider-details *ngIf="showProviderDetail" [isInInfoBox]="true"
                                [providerUserDetail]="providerDetail"></app-provider-details>
        </ng-template>
      </agm-snazzy-info-window>

      <!--    <agm-info-window #infoWindow>-->
      <!--      <app-institution-details [institution]="institutionDetail"></app-institution-details>-->
      <!--    </agm-info-window>-->
    </agm-marker>
  </agm-map>
</ng-container>


