@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

html * {
  font-family: 'Ubuntu', sans-serif;
}


.tomato-background-div {
  background-color: tomato;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}

.blue-background-div {
  background-color: cornflowerblue;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}

.register-div input {
  border: 1px solid tomato;
  outline: 0;
  box-shadow: none !important;
}

.register-div .text-danger-custom {
  color: tomato;
}

.register-div .select-tomato {
  border: 1px solid tomato;
  color: tomato;
  outline: 0;
}

.white-block-on-tomato-div {
  font-size: medium;
  border-radius: 2rem;
  background-color: white;
  box-shadow: #b34532 0.5rem 0.5rem 2rem;
}

.white-block-on-tomato-div .input-group-text {
  background-color: tomato !important;
}

.white-block-on-tomato-div .text-danger-custom {
  color: tomato !important;
}

.white-block-on-tomato-div select {
  border: 1px solid tomato;
  outline: 0;
}

.custom-link {
  cursor: pointer;
  color: tomato;
}

.custom-link {
  display: inline-block;
  font-size: 80%;
  font-weight: 400;
  margin-bottom: 8px;
}

.provider-div label, .provider-div svg {
  color: cornflowerblue;
}

.custom-link-provider {
  cursor: pointer;
  color: cornflowerblue;
}

.white-label {
  color: white;
}

.blue-block-on-white-div {
  font-size: small;
  border-radius: 2rem;
  background-color: cornflowerblue;
  box-shadow: #b3b3b3 0.5rem 0.5rem 2rem;
}

.blue-block-on-white-div label {
  color: white !important;
}

.blue-block-on-white-div input {
  border: 1px solid cornflowerblue !important;
}

.blue-block-on-white-div .text-danger-custom {
  color: white !important;
}

.blue-block-on-white-div .input-group-text {
  background-color: cornflowerblue;
}

.blue-block-on-white-div select {
  border: 1px solid cornflowerblue !important;
  outline: 0;
}

.blue-block-on-white-div textarea {
  border: 1px solid cornflowerblue !important;
}

.input-group-text {
  height: 31px;
  color: white !important;
  font-weight: bold !important;
  border: none !important;
  border-radius: 0 !important;
}

.submit {
  border-color: cornflowerblue !important;
  background-color: cornflowerblue !important;
}

input::placeholder {
  color: lightgrey;
}

select {
  border: 1px solid tomato !important;
  outline: 0;
  box-shadow: none !important;
}

input {
  border: 1px solid tomato !important;
  outline: 0;
  box-shadow: none !important;
}

textarea {
  border: 1px solid tomato !important;
  outline: 0;
  box-shadow: none !important;
}

h1, h2, h3, h4, h5, h6 {
  color: white;
  margin-bottom: 2rem;
}

.tomato-head {
  color: tomato;
  margin-bottom: 2rem;
}

label {
  color: tomato;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid tomato;
  margin: 1em 0;
  padding: 0;
}

select#types::-webkit-scrollbar-thumb {
  background: tomato;
  border-radius: 2rem;
}

select#types::-webkit-scrollbar {
  width: 8px;
  height: auto;
}

select#types {
  scrollbar-color: tomato white;
  scrollbar-width: thin;
}

.blue-background-div select#types {
  scrollbar-color: cornflowerblue white;
}

.blue-background-div select#types::-webkit-scrollbar-thumb {
  background: cornflowerblue;
}

.white-block-on-tomato-div select#types {
  scrollbar-color: tomato white;
}

.white-block-on-tomato-div select#types::-webkit-scrollbar-thumb {
  background: tomato;
}

.register-div select#types {
  scrollbar-color: tomato white;
}

.register-div select#types::-webkit-scrollbar-thumb {
  background: tomato;
}

.blue-block-on-white-div .delete-white {
  color: white !important;
}

.white-block-on-tomato-div .delete-white {
  color: tomato;
}

.icon-tomato {
  color: tomato;
}

.icon-blue {
  color: cornflowerblue;
}

.decor-div-tomato {
  background-color: rgba(255, 99, 71, 0.2);
  height: 0.5rem;
}

.decor-div-blue {
  background-color: rgba(100, 149, 237, 0.2);
  height: 0.5rem;
}

button {
  box-shadow: none !important;
}
