.institution-import-div {
  border-radius: 2rem;
  background-color: white;
  box-shadow: #b34532 0.5rem 0.5rem;
}

.tomato-background-div {
  background-color: tomato;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .tomato-background-div {
    width: 100vw;
  }
}

label {
  color: cornflowerblue;
}

a {
  color: cornflowerblue;
}

p {
  color: cornflowerblue;
}

input {
  border: 1px solid;
  outline: 0;
  box-shadow: none !important;
}

input::placeholder {
  font-size: small;
  color: lightgrey;
}

.submit.btn {
  border-color: cornflowerblue;
  background-color: cornflowerblue;
}
