
h2 {
  color: tomato;
  margin-bottom: 2rem;
}

label {
  color: tomato;
}

a {
  color: cornflowerblue;
}

p {
  color: cornflowerblue;
}

input {
  border: 1px solid tomato;
  outline: 0;
  box-shadow: none !important;
}

input::placeholder {
  font-size: small;
  color: lightgrey;
}

.submit.btn {
  border-color: cornflowerblue;
  background-color: cornflowerblue;
}
