<div class="background-div">

  <div class="p-sm-0 p-md-2 p-lg-4">
    <div class="row institution-list-div mx-0 col-sm-12">

      <div class="container col-sm-12 col-md-6 p-sm-0 p-md-1 p-lg-3">
        <app-map [locations]="institutionList"></app-map>
      </div>


      <div class="container col-sm-12 col-md-6 py-sm-0 py-md-2 py-lg-3">

        <div class="form-group">
          <input [(ngModel)]="searchText" class="form-control-sm rounded-pill col-sm-12 "
                 placeholder="Keresés név vagy cím alapján"
                 type="text">
        </div>
        <div class="form-group">
          <select (change)="narrowByType($event.target.value)" (click)="setCurrentType($event.target.value)"
                  [formControl]="institutionType" class="form-control-sm rounded-pill col-sm-6" id="institution-type"
                  name="institution-type">
            <option selected value="all">Mind</option>
            <option *ngFor="let institutionType of institutionTypeList"
                    value="{{institutionType.name}}">{{institutionType.displayName}}</option>
          </select>
        </div>


        <!--  <div class="col-md-2">-->
        <!--    <facebook-share-button (click)="shareList()"></facebook-share-button>-->
        <!--  </div>-->

        <div
          *ngFor="let institution of institutionList |filter:searchText |paginate:{itemsPerPage:size,currentPage:page};let last = last">
          <div class="row">
            <div (click)="details(institution.id)" class="col text-left">
              <label class="row mx-0 font-weight-bold">{{institution.name}}</label>
              <label class="row mx-0 ">{{institution.zipcode}} {{institution.city}} {{institution.address}}</label>
              <label *ngIf="institution.type" class="row mx-0">{{institution.type}}</label>
              <hr *ngIf="!last"/>
            </div>
          </div>
        </div>
        <select (change)="setSize($event.target.value)" class="rounded-pill" id="size" name="size">
          <option *ngFor="let size of sizeArray" value="{{size}}">{{size}}</option>
        </select>
        <pagination-controls (pageChange)="page = $event" class="my-pagination" nextLabel="Következő oldal"
                             previousLabel="Előző oldal"></pagination-controls>

      </div>

    </div>
  </div>

</div>
