<div class="tomato-background-div col-sm-12">

  <div class="row mx-0 pt-sm-0 pt-md-1 pt-lg-3">
    <div class="form-group col-sm-12" id="filter-div">
      <input [(ngModel)]="searchText" class="form-control-sm rounded-pill col-md-3 col-lg-4 offset-md-3"
             placeholder="Keresés név vagy cím alapján"
             type="text">
      <select (change)="narrowByType($event.target.value)" (click)="setCurrentType($event.target.value)"
              [formControl]="institutionType" class="form-control-sm rounded-pill col-md-3 col-lg-2"
              id="institution-type"
              name="institution-type">
        <option selected value="all">Mind</option>
        <option *ngFor="let institutionType of institutionTypeList"
                value="{{institutionType.name}}">{{institutionType.displayName}}</option>
      </select>
    </div>
  </div>


  <app-map [locations]="institutionList" [show]="showWindows"></app-map>


  <div class="row mx-0 p-sm-1 p-md-1 p-lg-4">
    <div class="white-block-on-tomato-div col-md-8 offset-md-2 p-sm-0">
      <div class="col-sm-12 py-sm-1 py-md-1 py-lg-3">
        <!--  <div class="col-md-2">-->
        <!--    <facebook-share-button (click)="shareList()"></facebook-share-button>-->
        <!--  </div>-->

        <div
          *ngFor="let institution of institutionList |filter:searchText |paginate:{itemsPerPage:size,currentPage:page};let last = last">
          <div class="row">
            <div (click)="details(institution.id)" class="col text-left custom-link">
              <label class="custom-link row mx-0 font-weight-bold text-uppercase">{{institution.name}}</label>
              <label class="row mx-0 ">{{institution.zipcode}} {{institution.city}} {{institution.address}}</label>
              <label *ngIf="institution.type" class="row mx-0">{{institution.type}}</label>
              <label class="row mx-0 small">{{institution.description}}</label>
              <hr *ngIf="!last"/>
            </div>
          </div>
        </div>
        <select (change)="setSize($event.target.value)" class="rounded-pill float-left" id="size" name="size">
          <option *ngFor="let size of sizeArray" value="{{size}}">{{size}}</option>
        </select>
        <div class="col-sm-12 col-md-10 offset-md-1 text-center">
          <pagination-controls (pageChange)="page = $event" class="my-pagination" nextLabel="Következő oldal"
                               previousLabel="Előző oldal"></pagination-controls>
        </div>
      </div>

    </div>
  </div>

</div>
