.institution-list-div {
  font-size: small;
  border-radius: 2rem;
  background-color: white;
}

.background-div {
  background-color: tomato;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .background-div {
    width: 100vw;

  }
}

.my-pagination /deep/ .ngx-pagination .current {
  background: tomato;
  border-radius: 2rem;
}

.my-pagination /deep/ .ngx-pagination .current span {
  color: white;
}

.my-pagination /deep/ .ngx-pagination li {
  color: tomato;
}

input::placeholder {

  color: lightgrey;
}

input {
  border: 1px solid tomato;
  outline: 0;
  box-shadow: none !important;
}

select {
  border: 1px solid tomato;
  color: tomato;
  outline: 0;
  box-shadow: none !important;
}

h1 {
  color: tomato;
  margin-bottom: 2rem;
}

label {
  color: tomato;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid tomato;
  margin: 1em 0;
  padding: 0;
}
