<div [ngClass]="isInInfoBox? '':'tomato-background-div'">
  <div [ngClass]="isInInfoBox? 'white-block-on-tomato-div p-sm-1 p-md-3 col-sm-12':
   'white-block-on-tomato-div p-sm-2 p-md-3 p-lg-4 col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2'">
    <h4 class="tomato-head font-weight-bold">{{institution?.name}}</h4>

    <div class="row mx-sm-0 my-sm-0">
      <i class="icon-tomato fas fa-map-marker-alt"></i><h5
      class="tomato-head mx-sm-2">{{institution?.zipcode}} {{institution?.city}} {{institution?.address}}</h5>
    </div>

    <p>{{institution?.description}}</p>

    <div class="row mx-0">
      <div class="col-sm-8 p-0">
        <h6 class="tomato-head mb-1">Elérhetőségek:</h6>
        <div class="col-sm-12">
          <div class="row-mx-0">
            <i class="fas fa-at icon-tomato"></i><label class="mx-sm-2 small">{{institution?.email}}</label>
          </div>

          <div class="row-mx-0">
            <i class="fas fa-lg fa-mobile-alt icon-tomato"></i><label
            class="mx-sm-2 small">{{institution?.phone}}</label>
          </div>


          <div *ngIf="institution?.website" class="row mx-0">
            <i class="fas fa-globe-europe icon-tomato"></i>
            <a [href]="'http://' + institution?.website" class="mx-sm-2 small custom-link"
               target="_blank">{{institution?.website}}</a>
          </div>
        </div>
      </div>


      <div *ngIf="institution?.openingHours.length" class="col-sm-4 mb-3 small">
        <h6 class="tomato-head mb-1">Nyitvatartás:</h6>
        <div *ngFor="let openingHour of institution?.openingHours">{{openingHour.weekDay}}: {{openingHour.openingTime}}
          -{{openingHour.closingTime}}</div>
      </div>
    </div>
    <!--providers-->
    <div>
      <div *ngFor="let providerAccount of institution?.providers">
        <div class="white-block-on-tomato-div col-md-8 offset-md-2 p-sm-0 mb-3">
          <div class="row mx-0 p-sm-1 p-md-2 p-lg-3">
            <div class="col-sm-12"><label class="font-weight-bold">Név: {{providerAccount?.name}}</label></div>
            <div class="decor-div-blue col-sm-12"></div>
            <!--            <div *ngIf="providerAccount.website" class="col-sm-12"><label class="small">{{providerAccount.website}}</label></div>-->
            <div class="col-sm-12"><label class="small">Telefon: {{providerAccount?.phone}}</label></div>
            <div class="col-sm-12"><label class="small">Email: {{providerAccount?.email}}</label></div>
            <div class="col-sm-12"><label class="small">Korcsoport: {{providerAccount?.ageGroupMin}}
              -{{providerAccount?.ageGroupMax}}</label></div>
            <div *ngFor="let type of providerAccount.types">
              <div class="col-sm-12"><label class="small">{{type}}</label></div>
            </div>
            <div *ngIf="providerAccount?.zipcode" class="col-sm-12 col-md-12"><label>{{providerAccount?.zipcode}}
              , {{providerAccount?.city}}
              , {{providerAccount?.address}}</label></div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="isDeleteBoardOpen" class="decor-div-tomato col-sm-12 mx-0"></div>
    <label *ngIf="isDeleteBoardOpen" class="mt-2" for="text">Törlés indoklása:</label>
    <div class="form-group col-sm-12 ">
      <textarea *ngIf="isDeleteBoardOpen" [(ngModel)]="cause" class="form-control" id="text" name="text"
                rows="3"></textarea>
      <div class="row mx-0">
        <div *ngIf="isDeleteBoardOpen" class="form-group mt-sm-2 mr-sm-2">
          <button (click)="signInstitutionToDelete()" class="btn btn-primary submit rounded-pill">Törlés javaslása
          </button>
        </div>
        <div class="form-group mt-sm-2">
          <button (click)="showDelete()" class="btn btn-primary submit rounded-pill">
            <span *ngIf="isDeleteBoardOpen">Mégse</span>
            <span *ngIf="!isDeleteBoardOpen">Intézmény jelentése</span>
          </button>
        </div>
      </div>

      <div class="decor-div-tomato col-sm-12 mx-0"></div>

      <div class="form-group mt-sm-2">
        <button (click)="openMailSend()" class="btn btn-primary submit rounded-pill">Email küldés</button>
      </div>

      <app-send-mail (sent)="openMailSend()" *ngIf="mailSender" [toEmail]="institution?.email"></app-send-mail>
      <!--  <div class="col-md-2">-->
      <!--    <facebook-share-button [share]="shareObj"></facebook-share-button>-->
      <!--  </div>-->

      <button (click)="backToInstitutionList()" *ngIf="!isInInfoBox"
              class="btn btn-primary submit rounded-pill btn-back">Vissza
      </button>
    </div>
  </div>

