<!--div class="form-group col-sm-12 col-md-10">
  <select (change)="updateValues(institutionGroup)" class="form-control rounded-pill" formControlName="id"
          id="id"
          name="institution">
    <option *ngFor="let institution of allInstitution" value="{{institution.id}}">
      {{institution.name}}</option>
  </select>
</div-->

<form [formGroup]="institutionForm">
  <div class="row mx-0">
    <div class="col-sm-12 col-md-6 px-0">


      <select (change)="fillFields($event)"
              class="form-control-sm rounded-pill col-md-3 col-lg-2"
              id="institution-type"
              name="institution-type">
        <option selected value="-1">----------</option>
        <option *ngFor="let institution of institutionList; let institutionI = index"
                value="{{institutionI}}">{{institution.name}}</option>
      </select>

      <app-contacts [contactsFormGroup]="institutionForm" [institutionModel]="institutionModel"
      >
      </app-contacts>

      <app-address [addressFormGroup]="institutionForm" [institutionModel]="institutionModel">
      </app-address>
      <div class="form-group col-sm-12 col-md-12">
        <label>Rövid leírás*:</label>
        <textarea
          [value]="institutionModel?.description"
          formControlName="description"
          class="form-control"
          rows="2">
        </textarea>
        <div *ngIf="institutionForm.get('description').invalid && institutionForm.get('description').touched">
          <small *ngIf="institutionForm.get('description').errors?.required"
                 class="text-danger-custom">
            A mező kitöltése közelező!
          </small>
          <small
            *ngIf="institutionForm.get('description').errors?.minlength || institutionForm.get('description').errors?.maxlength"
            class="text-danger-custom">
            A leírásnak legalább 30 és legfeljebb 200 karakter hosszúnak kell lennie!
          </small>
        </div>
      </div>
      <div class="form-group col-sm-12 col-md-12">
        <label>Nyitvatartás:</label>

        <button (click)="addNewOpeningHours()" *ngIf="getOpeningHours().length<=7" [disabled]="selectedInstitution"
                class="btn rounded-pill btn-light btn-sm mx-sm-1 mx-sm-2">
          Nyitvatartási idő hozzáadása
        </button>
      </div>
    </div>

    <div class="col-sm-12 col-md-6">

      <div *ngFor="let array of getOpeningHours().controls;let i = index;" class="form-group row mx-0">
        <div class="col-sm-11">
          <app-opening-hours [openingHours]="array">
          </app-opening-hours>
        </div>
        <div class="col-sm-1 p-0 align-content-center">
          <button (click)="removeOpeningHours(i)"
                  class="btn rounded-pill">
            <i class="fa fa-trash fa-lg delete-white"></i>
          </button>
        </div>
      </div>
    </div>

  </div>
</form>

