<form [formGroup]="contactsFormGroup">
  <div class="row m-0">
    <div class="form-group col-sm-12 col-md-6">
      <label for="name">Név*:</label>
      <input
        class="form-control rounded-pill"
        formControlName="name"
        id="name"
        [value]="institutionModel?.name"
        [readOnly]="selectedInstitution"
        type="text">
      <div *ngIf="contactsFormGroup?.get('name').errors?.pattern">
        <small class="text-danger-custom">
          Érvénytelen név!
        </small>
      </div>
      <small *ngIf="contactsFormGroup.get('name').errors?.serverError" class="text-danger-custom">
        Ez a név már foglalt!
      </small>
    </div>

    <div class="form-group col-sm-12 col-md-6">
      <app-email [emailFormGroup]="contactsFormGroup" [institutionModel]="institutionModel"
                 [selectedInstitution]="selectedInstitution"></app-email>
    </div>

    <div class="form-group col-sm-12 col-md-6 ">
      <label for="phone">Telefonszám*:</label>
      <input
        class="form-control rounded-pill"
        formControlName="phone"
        id="phone" placeholder="+36-XX-XXX-XXXX"
        [value]="institutionModel?.phone"
        [readOnly]="selectedInstitution"
        type="text">
      <div *ngIf="contactsFormGroup?.get('phone').errors?.pattern">
        <small class="text-danger-custom">
          Érvénytelen telefonszám!
        </small>
      </div>
    </div>

    <div class="form-group col-sm-12 col-md-6 ">
      <label for="website">Weboldal:</label>
      <input
        class="form-control rounded-pill"
        formControlName="website"
        id="website"
        [value]="institutionModel?.website"
        [readOnly]="selectedInstitution"
        type="text">
      <div *ngIf="contactsFormGroup?.get('website').errors?.pattern">
        <small class="text-danger-custom">
          Érvénytelen weboldal!
        </small>
      </div>
    </div>

  </div>
</form>
