input::placeholder {
  color: lightgrey;
}

input {
  border: 1px solid rgb(255, 72, 0);
  outline: 0;
  box-shadow: none !important;
}

select {
  border: 1px solid rgb(255, 72, 0);
  outline: 0;
  box-shadow: none !important;
}

h1 {
  color: rgb(255, 72, 0);
  margin-top: 5rem;
  margin-bottom: 2rem;
}

label {
  color: rgb(255, 72, 0);
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid rgb(255, 72, 0);
  margin: 1em 0;
  padding: 0;
}
