
input::placeholder {
  color: lightgrey;
}

input {
  border: 1px solid tomato;
  outline: 0;
  box-shadow: none !important;
}

select {
  border: 1px solid tomato;
  outline: 0;
  box-shadow: none !important;
}

h6 {
  color: tomato;
  margin-top: 6rem;
  margin-bottom: 2rem;
}

label {
  color: tomato;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid black;
  margin: 1em 0;
  padding: 0;
}
