<form [formGroup]="userAttributesFormGroup">
  <div class="row mx-0">
    <div class="form-group col-sm-12 col-md-6">
      <app-password (change)="checkPassword()" [passwordFormGroup]="userAttributesFormGroup"></app-password>
    </div>
    <div class="form-group col-sm-12 col-md-6">
      <app-password (change)="checkPassword()" [passwordFormGroup]="passwordAgainFormGroup"></app-password>
    </div>
  </div>

  <div class="row m-0 col-sm-12 col-md-12 mb-2">
    <small
      *ngIf="!checkPassword()"
      class="text-danger-custom">
      A két jelszónak meg kell egyeznie!
    </small>
  </div>
</form>
