<div class="col-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 text-center">
  <h1 class="mb-sm-1 mb-md-3 mb-lg-6 ">Regisztráció</h1>

  <button [ngClass]="{ 'active' : }" autofocus
          class="user-option-chooser btn w-50 mb-0">Felhasználó
  </button>
  <button class="user-option-chooser btn w-50 mb-0">Szolgáltatás</button>
  <div class="register-div text-left p-sm-3 p-md-3">
    <form [formGroup]="registerForm">

      <div class="row m-0" id="common-fields-div">
        <div class="form-group col-sm-1 col-md-6">
          <label for="lastname">Vezetéknév:</label>
          <input class="form-control" formControlName="lastname" id="lastname" type="text">
        </div>


        <div class="form-group col-sm-1 col-md-6">
          <label class="" for="firstname">Keresztnév:</label>
          <input class="form-control" formControlName="firstname" id="firstname" type="text">
        </div>


        <div class="form-group col-sm-1 col-md-5">
          <label for="username">Felhasználó név:</label>
          <input class="form-control" formControlName="username" id="username" type="text">
          <small *ngIf="registerForm.get('username').errors?.serverError && registerForm.get('username').touched"
                 class="text-danger">
            {{registerForm.get('username').errors['serverError']}}
          </small> <small *ngIf="registerForm.get('username').invalid && registerForm.get('username').touched"
                          class="text-danger">
          A mező kitöltése közelező!
        </small>
        </div>

        <div class="form-group col-sm-1 col-md-7">
          <label for="email">Email cím:</label>
          <input class="form-control" formControlName="email" id="email" type="text">
          <small *ngIf="registerForm.get('email').errors?.serverError && registerForm.get('email').touched"
                 class="text-danger">
            {{registerForm.get('email').errors['serverError']}}
          </small> <small *ngIf="registerForm.get('email').invalid && registerForm.get('email').touched"
                          class="text-danger">
          A mező kitöltése közelező!
        </small>
          <!-- TODO: valid email base on pattern -->
        </div>

        <div class="form-group col-sm-1 col-md-6">
          <label for="password">Jelszó:</label>
          <input class="form-control" formControlName="password" id="password" type="password">
        </div>
        <div class="form-group col-sm-1 col-md-6">
          <label for="passwordAgain">Jelszó megerősítése:</label>
          <input class="form-control" id="passwordAgain" name="passwordAgain" type="password">
        </div>
        <small *ngIf="registerForm.get('password').errors?.serverError && registerForm.get('password').touched"
               class="text-danger">
          {{registerForm.get('password').errors['serverError']}}
        </small> <small *ngIf="registerForm.get('password').invalid && registerForm.get('password').touched"
                        class="text-danger">
        A mező kitöltése közelező!
      </small>

        <div class="form-group col-sm-1 col-md-5 ">
          <label for="phone">Telefonszám:</label>
          <input class="form-control" formControlName="phone" id="phone" type="number">
          <small *ngIf="registerForm.get('phone').invalid && registerForm.get('phone').touched"
                 class="text-danger">
            Érvénytelen telefonszám formátum!
          </small>
        </div>
      </div>

      <div class="row m-0" id="normal-user-div">
        <div class="form-group col-sm-1 col-md-3">
          <label for="zipcode">Irányítószám:</label>
          <input class="form-control" formControlName="zipcode" id="zipcode" type="number">
          <small *ngIf="registerForm.get('zipcode').invalid && registerForm.get('zipcode').touched"
                 class="text-danger">
            Érvénytelen irányítószám!
          </small>
        </div>

        <div class="form-group col-sm-1 col-md-6">
          <label for="city">Település:</label>
          <input class="form-control" formControlName="city" id="city" type="text">
          <!-- TODO: autofill base on zipcode -->
        </div>

        <div class="form-group col-sm-1 col-md-9">
          <label for="address">Cím:</label>
          <input class="form-control" formControlName="address" id="address" type="address">
        </div>

        <div class="form-group col-sm-1 col-md-12">
          <label for="birthyear">Érintett családtag születési éve:</label>
          <input class="form-control col-md-3" formControlName="birthyear" id="birthyear" type="number">
          <small *ngIf="registerForm.get('birthyear').invalid && registerForm.get('birthyear').touched"
                 class="text-danger">
            A mező kitöltése közelező!
          </small>
          <!-- TODO: valid year-->
        </div>


        <div class="pl-sm-1 pl-md-3 mb-sm-1 mb-md-3">
          <div class="form-group col-sm-1 col-md-12 my-0 small">
            <input class="form-check-input mt-0" formControlName="newsletter" id="newsletter" type="checkbox">
            <label class="mb-1" for="newsletter">Feliratkozom a hírlevélre. </label>
          </div>

          <div class="form-group col-sm-1 col-md-12 my-0 small">
            <input class="form-check-input mt-0" formControlName="termsAndConditions" id="termsAndConditions"
                   type="checkbox">
            <label class="mb-1" for="termsAndConditions">Elolvastam és elfogadom az
              <a class="nav-link d-inline p-0" href="">Adatvédelmi Nyilatkozatot.</a> </label>
            <small
              *ngIf="registerForm.get('termsAndConditions').invalid && registerForm.get('termsAndConditions').touched"
              class="text-danger">
              A mező kitöltése közelező!
            </small>
          </div>
        </div>


      </div>
      <div id="service-provider">

        <div *ngIf="!isNormalUser" class="form-group">
          <button class="form-control btn btn-primary" formControlName="institution" id="institution">
            Intézmény hozzáadása
          </button>
        </div>


      </div>
      <div class="form-group pl-sm-1 pl-md-3">
        <button (click)="submit()" [disabled]="registerForm.invalid" class="submit btn btn-primary" type="submit">
          Regisztráció
        </button>
      </div>
    </form>

  </div>

</div>

