.eye-icon {
  justify-content: center;
  align-items: center;
  font-size: large;
  border: none;
}

.eye-icon button {
  color: darkgrey;
  background-color: white;
  box-shadow: none;
  outline: 0;
}
