<div class="tomato-background-div">
  <div class="col-sm-12 col-md-8 offset-md-2 col-lg-4 offset-lg-4 text-center">
    <h4>Bejelentkezés</h4>
    <div class="white-block-on-tomato-div p-4  w-100 text-left">
      <form [formGroup]="loginForm">
        <div class="form-group">
          <label for="userName">Email cím:</label>
          <input class="form-control rounded-pill" formControlName="userName" id="userName" placeholder="Email"
                 type="email">
          <small *ngIf="loginForm.get('userName').invalid && loginForm.get('userName').touched"
                 class="text-danger col-sm-12 col-md-12">
            Helytelen email cím!
          </small>
        </div>

        <div class="form-group row mx-0">
          <div class="input-group">
            <label class="col-sm-12 p-0" for="password">Jelszó:</label>
            <input class="form-control col-sm-11 col-lg-10 rounded-pill" formControlName="password" id="password"
                   placeholder="Jelszó"
                   type="password">
            <div class="input-group-append eye-icon col-sm-1 col-lg-2">
              <button (click)="changePasswordVisibility()" class="eye-icon">
                <i class="far fa-lg fa-eye"></i>
              </button>
            </div>
          </div>

          <small *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched"
                 class="text-danger col-sm-12 col-md-12">
            A mező kitöltése közelező!
          </small>
        </div>

        <div *ngIf="showUnauthorizedMessage" class="alert alert-danger rounded-pill">
          Helytelen felhasználónév vagy jelszó!
        </div>
        <div *ngIf="showUnconfirmedMessage" class="alert alert-danger rounded-pill">
          Kérjük, aktiváld a fiókod az email-ben kapott üzenet alapján!
        </div>

        <div class="form-group small">
          <label class="row m-0">Elfelejtett jelszó?
            <a class="nav-link d-inline p-0 ml-1" routerLink="/new-password">Kattints ide!</a>
          </label>
          <label class="row m-0">Még nincs fiókod?
            <a class="nav-link d-inline p-0 ml-1" routerLink="/register">Regisztrálj!</a>
          </label>
        </div>

        <button (click)="login()" [disabled]="loginForm.invalid || loading" class="submit btn btn-primary rounded-pill"
                type="submit">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Bejelentkezés
        </button>
        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
      </form>
    </div>
  </div>
</div>
