input::placeholder {
  color: lightgrey;
}

input {
  border: 1px solid tomato;
  outline: 0;
  box-shadow: none !important;
}

.submit.btn {
  border-color: cornflowerblue;
  background-color: cornflowerblue;
}

label {
  color: tomato;
}
