<div class="tomato-background-div">
  <div class="col-sm-12 col-md-8 offset-md-2 col-lg-4 offset-lg-4 text-center">
    <h4 class="mb-sm-1 mb-md-3 mb-lg-4 ">Bejelentkezés</h4>
    <div class="white-block-on-tomato-div p-4  w-100 text-left">
      <form [formGroup]="loginForm">
        <div class="form-group">
          <label for="userName">Email cím:</label>
          <input class="form-control rounded-pill" formControlName="userName" id="userName" placeholder="Email"
                 type="email">
          <small *ngIf="loginForm.get('userName').invalid && loginForm.get('userName').touched"
                 class="text-danger col-sm-12 col-md-12">
            A mező kitöltése közelező!
          </small>
        </div>

        <div class="form-group row mx-0">
          <div class="input-group">
            <label class="col-sm-12 p-0" for="password">Jelszó:</label>
            <input class="form-control col-sm-11 col-lg-10 rounded-pill" formControlName="password" id="password"
                   placeholder="Jelszó"
                   type="password">
            <div class="input-group-append eye-icon col-sm-1 col-lg-2">
              <i (click)="changePasswordVisibility()" class="fa fa-lg fa-eye btn eye-btn"></i>
            </div>
          </div>

          <small *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched"
                 class="text-danger col-sm-12 col-md-12">
            A mező kitöltése közelező!
          </small>
        </div>

        <div *ngIf="showUnauthorizedMessage" class="alert alert-danger rounded-pill">
          Helytelen felhasználónév vagy jelszó!
        </div>
        <div *ngIf="showUncofirmedMessage" class="alert alert-danger rounded-pill">
          Kérjük aktiválja fiókját az email-ben kapott üzenet alapján!
        </div>

        <div class="form-group">
          <p>Elfelejtett jelszó?
            <button (click)="forgotPassword()" class="btn btn-sm btn-link">Kattints ide!</button>
          </p>
          <p>Még nincs fiókod? <a routerLink="/register">Regisztrálj!</a></p>
        </div>

        <button (click)="login()" [disabled]="loginForm.invalid" class="submit btn btn-primary rounded-pill"
                type="submit">
          Bejelentkezés
        </button>
      </form>
    </div>
  </div>
</div>
