<div class="col-sm-1 col-md-8 offset-md-2 col-lg-4 offset-lg-4 text-center">
  <h1 class="mb-sm-1 mb-md-3 mb-lg-4 ">Bejelentkezés</h1>
  <div class="login-div p-4  w-100 text-left">
    <form [formGroup]="loginForm">

      <div class="form-group">
        <label for="userName">Felhasználónév:</label>
        <input class="form-control" formControlName="userName" id="userName" placeholder="Felhasználónév" type="text">
        <small *ngIf="loginForm.get('userName').invalid && loginForm.get('userName').touched"
               class="text-danger">
        A mező kitöltése közelező!
      </small>
      </div>

      <div class="form-group">
        <label for="password">Jelszó:</label>
        <input class="form-control" formControlName="password" placeholder="Jelszo" id="password" type="password">
        <small *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched"
               class="text-danger">
        A mező kitöltése közelező!
      </small>
      </div>

      <div class="form-group">
        <p>Elfelejtett jelszó? <a href="#">Kattints ide!</a></p>
        <p>Új felhasználó? <a routerLink="/register">Regisztráljon</a></p>
      </div>

      <button (click)="login()" [disabled]="loginForm.invalid" class="btn btn-primary" type="submit">
        Bejelentkezés
      </button>
    </form>

  </div>
</div>
