<div class="tomato-background-div text-center">
  <div class="col-sm-12 col-md-8 offset-md-2 col-lg-4 offset-lg-4 text-center">
    <h4>Biztos vagy benne, hogy törlölni akarod a fiókodat?</h4>
    <div class="white-block-on-tomato-div p-4  w-100 text-left">
      <button (click)="deleteUser()"
              class="submit btn btn-primary rounded-pill"
              type="submit">
        Igen, törlés
      </button>
      <button (click)="goBack()"
              class="submit btn btn-light rounded-pill float-right"
              type="submit">
        Nem, vissza a profilra
      </button>
    </div>
  </div>
</div>
