<div class="row m-0">
  <div class="form-group col-sm-12 col-md-6">
    <label for="name">Név:</label>
    <input (focusout)="emitName()"
           [formControl]="name"
           class="form-control rounded-pill"
           id="name"
           type="text">
    <div *ngIf="name.errors?.pattern">
      <small class="text-danger">
        Érvénytelen név!
      </small>
    </div>
  </div>

  <div class="form-group col-sm-12 col-md-6">
    <app-email (emailEmitter)="emitEmail($event)"></app-email>
  </div>

  <div class="form-group col-sm-12 col-md-6 ">
    <label for="phone">Telefonszám:</label>
    <input (focusout)="emitPhone()"
           [formControl]="phone"
           class="form-control rounded-pill"
           id="phone" placeholder="+36-XX-XXX-XXXX"
           type="text">
    <div *ngIf="phone.errors?.pattern">
      <small class="text-danger">
        Érvénytelen telefonszám!
      </small>
    </div>
  </div>

  <div class="form-group col-sm-12 col-md-6 ">
    <label for="website">Weboldal:</label>
    <input (focusout)="emitWebsite()"
           [formControl]="website"
           class="form-control rounded-pill"
           id="website"
           type="text">
    <div *ngIf="website.errors?.pattern">
      <small class="text-danger">
        Érvénytelen weboldal!
      </small>
    </div>
  </div>

</div>
