<form [formGroup]="registerForm" autocomplete="off">

  <div class="row mx-0">
    <div class="col-sm-12 col-md-6 px-0">
      <app-contacts
        [contactsFormGroup]="registerForm"
      ></app-contacts>

      <app-provider-attributes
        (isPasswordValid)="setIfPasswordIsValid($event)"
        [allType]="allType"
        [providerAttributesFormGroup]="registerForm"
      >
      </app-provider-attributes>

      <!-- CUSTOM ADDRESS CHECK DIV -->

      <div id="custom-address-check-div">
        <div class="row m-0">
          <div class="form-group col-sm-12 col-md-12">
            <label for="customAddress">Cím hozzáadása a szolgáltatáshoz:</label>
            <input (change)="changeProviderAddress()"
                   class="form-check-input m-1"
                   id="customAddress"
                   type="checkbox">
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 px-0">
      <app-address *ngIf="haveProviderCustomAddress"
                   [addressFormGroup]="registerForm"
      ></app-address>
    </div>
  </div>

  <!-- INSTITUTIONS -->

  <div class="form-group col-sm-12 col-md-12">
    <label>Intézmények:</label>

    <button (click)="addNewInstitution()"
            class="btn rounded-pill btn-light btn-sm mx-sm-1 mx-sm-2"
    >
      Intézmény hozzáadása
    </button>
  </div>

  <div *ngFor="let array of getInstitutions().controls;let i = index;"
       class="row m-0 blue-block-on-white-div my-md-4 p-md-1 p-lg-3">

    <app-institution
      [institutionForm]="array"
      [selectable]="true">
    </app-institution>


    <div class="form-group col-sm-12 col-md-1">
      <button (click)="removeInstitution(i)" class="btn rounded-pill p-0">
        <i class="fa fa-trash delete-white fa-lg"></i>
      </button>
    </div>
  </div>
  <!-- COMMON END FIELDS DIV -->

  <div id="common-end-fields-div">
    <div class="pl-sm-1 pl-md-3 mb-sm-1 mb-md-3">
      <div class="form-group col-sm-12 col-md-12 my-0 small">
        <input class="form-check-input mt-0" formControlName="newsletter" id="newsletter" type="checkbox">
        <label class="mb-1" for="newsletter">Feliratkozom a hírlevélre. </label>
      </div>

      <div class="form-group col-sm-12 col-md-12 my-0 small">
        <input (click)="test()" class="form-check-input mt-0" formControlName="termsAndConditions"
               id="termsAndConditions"
               type="checkbox">
        <label class="mb-1" for="termsAndConditions">Elolvastam és elfogadom az
          <a class="nav-link d-inline p-0" href="/terms-and-conditions" target="_blank">Adatvédelmi
            Nyilatkozatot</a>*.</label>
      </div>
      <small
        *ngIf="registerForm.get('termsAndConditions').invalid && registerForm.get('termsAndConditions').dirty"
        class="text-danger-custom col-sm-12 col-md-12">
        A mező kitöltése közelező!
      </small>
    </div>

    <div class="form-group pl-sm-1 pl-md-3">
      <button (click)="submit()" [disabled]="registerForm.invalid || !isPasswordValid"
              class="submit btn btn-primary rounded-pill"
              type="submit">
        Regisztráció
      </button>
    </div>
  </div>
</form>
