<div class="tomato-background-div">
  <div *ngIf="loggedInUser" class="container white-block-on-tomato-div">
    <div class="row align-items-left justify-content-center">
      <h1 class="tomato-head">
        <hr>
        Profil
      </h1>
    </div>

    <div class="row">
      <div class="profile-div col-sm-12 col-md-6">

        <div *ngIf="!editMode" class="button-flex">
          <button (click)='editMode=true' class="edit-button rounded-pill btn-light">
            Módosítás<i class="fas fa-pencil-alt"></i></button>
        </div>

        <div *ngIf="editMode" class="button-flex">
          <button (click)='cancelEdit()' class="edit-button rounded-pill btn-light">
            Visszavonás
          </button>
        </div>

        <label>Teljes név:</label>
        <div *ngIf='!editMode' class="col-sm-9">
          <p> {{providerAccount?.name}} </p>
        </div>
        <div>
          <input
            *ngIf='editMode'
            [(ngModel)]='providerAccount.name' class='text-dark' type='text'>
          <!--        <small *ngIf="providerAccount.get('password').invalid && loginForm.get('password').touched"-->
          <!--               class="text-danger col-sm-12 col-md-12">-->
          <!--          A mező kitöltése közelező!-->
          <!--        </small>-->
        </div>
        <br>

        <label>Szolgáltatás neve:</label>
        <div *ngIf='!editMode' class="col-sm-9">
          <p> {{providerAccount?.providerServiceName}} </p>
        </div>
        <div>
          <input
            *ngIf='editMode'
            [(ngModel)]='providerAccount.providerServiceName' class='text-dark' type='text'>
        </div>
        <br>

        <label>Email cím:</label>
        <div class="col-sm-9">
          <p>{{providerAccount?.email}}</p>
        </div>
        <br>

        <label>Telefon:</label>
        <div (click)='editMode=true' *ngIf='!editMode' class="col-sm-9">
          <p> {{providerAccount?.phone}} </p>
        </div>
        <div>
          <input
            *ngIf='editMode'
            [(ngModel)]='providerAccount.phone' class='text-dark' type='text'>
        </div>
        <br>

        <label>Cím:</label>
        <div *ngIf='!editMode' class="col-sm-9">
          <p> {{providerAccount?.zipcode}} </p>
          <p>{{providerAccount?.city}}</p>
          <p>{{providerAccount?.address}}</p>
        </div>
        <div>
          <input
            *ngIf='editMode'
            [(ngModel)]='providerAccount.zipcode' class='text-dark' type='text'>
        </div>
        <div>
          <input
            *ngIf='editMode'
            [(ngModel)]='providerAccount.city' class='text-dark' type='text'>
        </div>
        <div>
          <input
            *ngIf='editMode'
            [(ngModel)]='providerAccount.address' class='text-dark' type='text'>
        </div>
        <br>

        <label>Szolgáltatás típusai:</label>
        <div>
          <ul class="col-sm-9">
            <p *ngFor="let type of providerAccount?.types">
              {{type}}
            </p>
          </ul>
        </div>
        <br>

        <label>Korcsoport:</label>
        <div class="col-sm-9">
          <p>{{providerAccount?.ageGroupMin}} - {{providerAccount?.ageGroupMax}}</p>
        </div>
        <br>

        <button (click)="saveChanges()" class="submit btn btn-info rounded-pill" type="submit">
          Mentés
        </button>

      </div>

      <div class="col-sm-12 col-md-6" style="padding: 30px 0">
        Intézmények:
        <div *ngFor="let insitution of providerAccount?.institutionList"
             class="card bg-light m-4">
          <div class="card-header">
            {{insitution?.name}}
          </div>
          <div class="card-body">
            {{insitution?.description}}<br>
            <hr>
            {{insitution?.phone}}<br>
            {{insitution?.website}}<br>
            {{insitution?.email}}<br>
            <div class="button-flex">
              <button (click)="deleteInstitution(insitution.id)" class="rounded-pill">Törlés</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
