<section class="container" id="profile">
  <h1>Profil</h1>
  <section>
    <h4 class="display-4">{{providerAccount.username}}</h4>
    <hr>
  </section>

    <section class="row">
      <section class="col-6 mb-4">
        <dl class="row">
          <dt class="col-sm-3">
            <p class="text-dark">Email:</p>
          </dt>
          <dd class="col-sm-9">
            <p class="text-dark">{{providerAccount.email}}</p>
          </dd>

          <dt class="col-sm-3">
            <p class="text-dark">Telefonszám:</p>
          </dt>
          <dd class="col-sm-9">
            <p class="text-dark">{{providerAccount.phone}}</p>
          </dd>

          <dt class="col-sm-3">Cím:</dt>
          <dd class="col-sm-9">
            <p class="text-dark">{{providerAccount.address}}</p>
          </dd>
        </dl>
      </section>
  </section>
</section>
