<!--div class="form-group col-sm-12 col-md-10">
  <select (change)="updateValues(institutionGroup)" class="form-control rounded-pill" formControlName="id"
          id="id"
          name="institution">
    <option *ngFor="let institution of allInstitution" value="{{institution.id}}">
      {{institution.name}}</option>
  </select>
</div-->
<!-- TODO: fetch at parent and send to child-->
<hr/>
<form [formGroup]="institutionForm">

  <app-contacts
    (emailEmitter)="setEmail($event)"
    (nameEmitter)="setName($event)"
    (phoneEmitter)="setPhone($event)"
    (websiteEmitter)="setWebsite($event)"
  >
  </app-contacts>

  <app-address
    (addressEmitter)="setAddress($event)"
    (cityEmitter)="setCity($event)"
    (zipcodeEmitter)="setZipcode($event)"
  >
  </app-address>


  <div class="form-group col-sm-12 col-md-12">
    <label>Nyitvatartás:</label>

    <button (click)="addNewOpeningHours()"
            class="btn rounded-pill btn-light btn-sm mx-sm-1 mx-sm-2">
      Nyitvatartási idő hozzáadása
    </button>
  </div>


  <div *ngFor="let array of getOpeningHours().controls;let i = index;" class="row mx-0">
    <div class="col-sm-11 col-md-10">
      <app-opening-hours [openingHours]="array">
      </app-opening-hours>
    </div>
    <div class="form-group col-sm-12 col-md-1">
      <button (click)="removeOpeningHours(i)"
              class="btn btn-outline-danger rounded-pill">
        X
      </button>
    </div>
  </div>

  <div class="form-group col-sm-12 col-md-12">
    <label>Rövid leírás:</label>
    <textarea formControlName="description"
              class="form-control"
              rows="2">
  </textarea>
    <div *ngIf="institutionForm.get('description').invalid && institutionForm.get('description').touched">
      <small *ngIf="institutionForm.get('description').errors?.required"
             class="text-danger">
        A mező kitöltése közelező!
      </small>
      <small
        *ngIf="institutionForm.get('description').errors?.minlength || institutionForm.get('description').errors?.maxlength"
        class="text-danger">
        A leírásnak legalább 30 és legfeljebb 200 karakter hosszúnak kell lennie!
      </small>
    </div>
  </div>

</form>
